.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #94B59F;
}

.line-with-text {
  display: flex;
  align-items: center;
  gap: 10px;
  @apply text-text;
}


.banner-line {
  flex-shrink: 0;
  width: 50px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
}


.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2.05rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  height: 85vh;
}

.info {
  display: flex;
}

.banner-content p {
  margin: 1px 0;
}

.first-name {
  font-size: 95px;
  color: white;
  font-weight: 500;
}

.last-name {
  font-size: 100px;
  background: linear-gradient(to right, #AEC9AB, #94B59F );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;

}

.paragraphs p {
  @apply text-text;
}

.paragraphs span {
  @apply text-primary;
}

.focus {
  font-size: 22px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-1 {
  border-radius: 8px;
  border: 2px solid #94B59F;
  background-color: #94B59F;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-1:hover {
  background-color: white;
  color: #94B59F;
  border: 2px solid white;
  transform: scale(1.05);
}


.button-2 {
border-radius: 5px;
border: 2px solid #94B59F;
background-color: #94B59F;
color: white;
font-size: 1.1rem;
font-weight: 600;
padding: 10px 24px;
cursor: pointer;
transition: all 0.3s ease;
}

.button-2:hover {
  background-color: white;
  color: #94B59F;
  border: 2px solid white;
  transform: scale(1.05);
}

.button-3 {
border-radius: 5px;
border: 2px solid #94B59F;
background-color: #94B59F;
color: white;
font-size: 1.1rem;
font-weight: 600;
padding: 10px 24px;
cursor: pointer;
transition: all 0.3s ease;
}

.button-3:hover {
 background-color: white;
  color: #94B59F;
  border: 2px solid white;
  transform: scale(1.05);
}
