.header {
  display: flex;
  justify-content: flex-end;
}

.nav-elements-header {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.nav-elements-header a {
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  color: #94B59F;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-elements-header a:hover {
  color: #94B59F;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .nav-elements-header {
    gap: 10px;
    margin: 5px;
    padding: 5px;
  }

  .nav-elements-header a {
    padding: 6px 10px;
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: center;
  }

  .nav-elements-header {
    flex-direction: flex;
    gap: 8px;
    margin: 5px 0;
    padding: 0;
    align-items: center;
  }

  .nav-elements-header a {
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
}
